<div class="pagination-area">
  <div class="row align-items-center" *ngIf="page">
    <div class="col" style="float: right; font-weight: 600;">
      Showing {{ page.number+1   }}
    -  of {{page.totalElements}}
    <span class="ml-1">{{pageName}}</span>
    </div>

    <nav class="col-auto" aria-label="Page navigation example" *ngIf="page.size < page.totalElements">
      <ul class="pagination mb-0">

        <li class="page-item first"  [ngClass]="{'disabled': page.first }">
          <a class="page-link"  [routerLink]=""  (click)="previousPage($event)"> <i class="fas fa-chevron-left"></i>
        </a></li>

        <li class="page-item last" [ngClass]="{'disabled': page.last }">
          <a class="page-link" [routerLink]=""  (click)="nextPage($event)"> <i class="fas fa-chevron-right"></i>
        </a></li>

      </ul>
    </nav>
  </div>
</div>

