<!--<app-navbar></app-navbar>-->

<div class="container">
  <form [formGroup]="usersForm" class="search-area">
    <div class="row">
      <div class="col-md-8 col-lg-6 col-12 mx-md-auto mx-lg-auto mx-sm-auto mx-0 text-center">
        <div class="form-group">
          <textarea class="custom-form-control" rows="2" placeholder="Search and save" formControlName="userDetails"
                    #filterValue></textarea>
          <small class="userDetailsError" *ngIf="usersForm.controls.userDetails.errors"
                 [innerHtml]=usersForm.controls.userDetails.errors.value></small>
        </div>
        <!-- <input type="text" class="custom-form-control" > -->

        <div class="upload-btn-container">
          <input type="file" accept=".xlsx" class="btn" (change)="onFileChange($event)" id="file">
          <label for="file" class="upload-label"><img src="/links-web/assets/upload.svg"/> Upload File</label>
          <span>
                      <ng-container *ngIf="selectedFileName; else elseTemplate">{{selectedFileName}}</ng-container>
                      <ng-template #elseTemplate>
                        No file chosen
                      </ng-template>
                    </span>
        </div>

        <div class="action-btn">
          <button class="btn-orange-rounded" (click)="searchUsers(filterValue.value)">Search</button>
          <button class="btn-orange-rounded ml-4" (click)="saveAllAndSearch(filterValue.value)">Save/Update</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-12">
        <div class="filter-group">

          <div class="filter-btn">
            <button class="btn-orange-outline"><img src="/links-web/assets/filter.svg"/> Quick Filters</button>
          </div>
          <!-- <mat-form-field style="margin: 20px 20px 20px 20px; width: 25%">
            <input [disabled]="true" matInput #filter placeholder="Filter by tags" (ngModelChange)="applyFilter(filter.value)" formControlName="filterValue">
            <input [disabled]="true" matInput #filter placeholder="Filter by tags" formControlName="filterValue">
            <button class="btn-orange-outline"><img src="/assets/filter.svg"/>  Quick Filters</button>
          </mat-form-field> -->
          <!-- <button style="margin: 20px 20px 20px 20px;" mat-raised-button color="primary" (click)="applyFilter(filter.value)">Filter</button> -->

          <div class="filter-action">
            <button class="btn-orange-outline"
                    (click)="generateCertificate()" [disabled]="usersForm.controls.allUsers.invalid"><img
              src="/links-web/assets/certificate.svg"/> Generate Certificate
            </button>

            <button class="btn-orange-outline" (click)="openDialog()"
                    [disabled]="usersForm.controls.allUsers.invalid"><img src="/links-web/assets/tag.svg"/> Add Tag
            </button>

            <button class="btn-orange-outline" (click)="sendEmail()"
                    [disabled]="usersForm.controls.allUsers.invalid">
              <svg xmlns="http://www.w3.org/2000/svg" width="16.002" height="16" viewBox="0 0 16.002 16"
                   class="fillCurrent">
                <path
                  d="M20,4.539,4.7,11.207a.351.351,0,0,0,.013.638l4.138,2.338a.667.667,0,0,0,.763-.075l8.16-7.035c.054-.046.183-.133.233-.083s-.029.179-.075.233l-7.06,7.952a.665.665,0,0,0-.067.8l2.7,4.338a.352.352,0,0,0,.633-.008L20.471,5A.351.351,0,0,0,20,4.539Z"
                  transform="translate(-4.503 -4.503)"/>
              </svg>
              Send Email
            </button>
          </div>
        </div>

        <div class="table-container">
          <table mat-table formArrayName="allUsers" [dataSource]="dataSource"
                 class="table table-bordered table-rounded">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">

              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>

              <td mat-cell *matCellDef="let row; let rowIndex = index" [formGroupName]="rowIndex"
                  (click)="$event.stopPropagation()">
                <mat-checkbox formControlName="checkBox" (click)="$event.stopPropagation()"
                              (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>

            </ng-container>


            <ng-container matColumnDef="id">

              <th mat-header-cell *matHeaderCellDef>
                <h6>Id</h6>
              </th>

              <td mat-cell *matCellDef="let element let rowIndex = index" (click)="$event.stopPropagation()"
                  [formGroupName]="rowIndex">
                {{element.id}}
            </ng-container>


            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>
                <h6>Name</h6>
              </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index" (click)="$event.stopPropagation()"
                  [formGroupName]="rowIndex">
                {{element.name}}
            </ng-container>


            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>
                <h6> Email</h6>
              </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index" (click)="$event.stopPropagation()"
                  [formGroupName]="rowIndex">
                {{element.email}}
            </ng-container>


            <ng-container matColumnDef="user_tags">
              <th mat-header-cell *matHeaderCellDef>
                <h6>Tags</h6>
              </th>
              <td mat-cell *matCellDef="let element let rowIndex = index" (click)="$event.stopPropagation()"
                  [formGroupName]="rowIndex">
                <!-- <mat-chip-list formArrayName="userTags" #chipList>
                <mat-chip color="primary" style="margin-top: 10px; " *ngFor="let tag of element.user_tags; let i = index">
                    {{tag.tag.name}}
                    <mat-icon matChipRemove *ngIf="removable" style="margin-top: 0">x</mat-icon>
                </mat-chip>
                </mat-chip-list> -->
                <span *ngFor="let tag of element.user_tags; let i = index; let last = last">
                            {{tag.tag.name}}
                  <ng-container *ngIf="!last">,</ng-container>
                            </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="profileLink">
              <th mat-header-cell *matHeaderCellDef>

              </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index" (click)="$event.stopPropagation()">
                <a [routerLink]="'/profile/'+element.id" class="view-link">View</a>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
          <!-- <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
              </mat-paginator> -->
        </div>
      </div>
    </div>
  </form>

</div>
