.container-wrapper {
    width: 100%;
    position: relative;
}


.auth-card {
    padding:40px 50px;
    font-family: 'Saira', sans-serif;
    overflow: hidden;
    font-weight: 400;
    max-width: 450px;
}

.auth-card .title {
    font-size: 30px;
    font-weight: 600;
    color: #28293D;
    position: relative;
    font-family: Bahnschrift;
}

.auth-card .title::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 88%;
    left: 6px;
    height: 8px;
    background-color: #052885;
}

.auth-card .title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 30%;
    right: 10%;
    height: 8px;
    background-color: #FF3A00;
}

.auth-card .subtitle {
    font-size: 25px;
    line-height: 39px;
    color: #707070;
    font-weight: 400;
    font-family: Bahnschrift;
}

.steps {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.steps .step {
    width: 18px;
    height: 6px;
    border-radius: 6px;
    background-color: #CACACA;
    display: inline-flex;
    cursor: pointer;
    transition: all 200ms linear;
}

.steps .step:not(:last-child) {
    margin-right: 6px;
}

.steps .step.active {
    background-color: #FF3A00;
}

.terms {
    color: #28293D;
    font-size: 13px;
    font-weight: 400;
    font-family: Bahnschrift;
}

.terms a {
    color: inherit;
    text-decoration: underline;
}

.info_art{
    width: 90%;
}