<nav class="navbar navbar-expand-lg link_header mb-5">
  <div class="container">
    <div class="navbar-brand">
      <a class="logo" [routerLink]="'/'">
        <img src="../../../assets/logo.svg" alt="">
      </a>
    </div>
    <button class="navbar-toggler" (click)="toggleMobileMenu($event)" type="button" data-toggle="collapse"
      data-target="#link_header" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="link_header" [ngClass]="{show: showMobileMenu}">
      <ul class="navbar-nav w-100 d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Recipients'" routerLinkActive="active">Recipients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Tags'" routerLinkActive="active">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Certificates'" routerLinkActive="active">Certificates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Emails'" routerLinkActive="active">Emails</a>
        </li>
      </ul>
      <ul class="user_account navbar-nav" #dropDownContainer>
        <li class="nav-item dropdown">
          <a class="nav-link d-flex justify-content-center  align-items-center" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-expanded="false" (click)="toggleDropDown($event)">
            <img class="avater" src="../../../assets/avater.png" alt="">
            <div class="text">
              <h5>{{userName}}</h5>
              <p>{{userEmail}}</p>
            </div>
            <i class="fas fa-chevron-down down"></i>
          </a>
          <ul class="dropdown-menu" [ngClass]="{show: showDropDown}" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/AdminProfile'"> <i class="far fa-user"></i> My Profile</a></li>
            <li><a class="dropdown-item" [routerLink]="'/FAQ'">  <i class="far fa-question-circle"></i> Help & Support</a></li>
            <li>
              <a class="dropdown-item" (click)="logout()" href="#"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16.598" height="16.598" viewBox="0 0 16.598 16.598">
                  <g id="Icon_feather-log-out" data-name="Icon feather-log-out" transform="translate(15.848 15.848) rotate(180)">
                    <path id="Path_192" data-name="Path 192" d="M5.033,15.1H1.678A1.678,1.678,0,0,1,0,13.421V1.678A1.678,1.678,0,0,1,1.678,0H5.033" transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    <path id="Path_193" data-name="Path 193" d="M0,8.388,4.194,4.194,0,0" transform="translate(10.904 3.355)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    <path id="Path_194" data-name="Path 194" d="M10.065,0H0" transform="translate(5.033 7.549)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                  </g>
                </svg>
                Log Out
              </a>
            </li>
            
            <li class="upgrade"><a class="dropdown-item" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="21.829" height="21.829" viewBox="0 0 21.829 21.829">
                <g id="local_police-24px" transform="translate(-0.864 -0.543)">
                  <rect id="Rectangle_109" data-name="Rectangle 109" width="21.829" height="21.829" transform="translate(0.864 0.543)" fill="none"/>
                  <path id="Path_195" data-name="Path 195" d="M13.781,11.877l.591,2.559a.47.47,0,0,1-.7.506l-2.231-1.35L9.2,14.943a.47.47,0,0,1-.7-.506l.6-2.55-1.969-1.7a.469.469,0,0,1,.262-.825L9.994,9.14l1.012-2.4a.467.467,0,0,1,.862,0L12.881,9.13l2.606.225a.469.469,0,0,1,.262.825ZM4.116,4.265A1.883,1.883,0,0,0,3,5.98v4.406c0,5.2,3.6,10.068,8.437,11.25,4.837-1.181,8.437-6.047,8.437-11.25V5.98a1.883,1.883,0,0,0-1.116-1.716L12.2,1.349a1.864,1.864,0,0,0-1.519,0Z" transform="translate(-0.306 -0.099)" fill="#fff"/>
                </g>
              </svg>
              Upgrade to Premiume</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>