.navbar{
  padding: .5rem 0;
}

.navbar-expand-lg .navbar-collapse{
   margin-top: 0;
}

.link_header {
  position: relative;
  background: url(/assets/shape-with-border.svg);
  width: 100%;
  height: 133px;
  padding-bottom: 4%;
  z-index: 2;
  background-repeat: no-repeat;
}

@media (max-width: 1700px) {
  .link_header {
     background-position: -150px;
  }
}

@media (max-width: 1500px) {
  .link_header {
     background-position: -280px;
  }
}

.link_header .navbar-nav li a {
  color:#CACACA;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 5px;
  margin: 0 1em;
}

.link_header .navbar-nav li a:hover, 
.link_header .navbar-nav li a.active {
  border-bottom: 2px solid #FF3A00;
  color: white;
}


@media (max-width: 990px) {
  .link_header .navbar-nav li {
    text-align: center;
  }
}

.link_header .navbar-nav.user_account li a {
  margin: 0;
  border: 0;
}

.link_header .navbar-nav.user_account li a.nav-link .fa-user-circle {
  font-size: 24px;
}

.link_header .navbar-nav.user_account li a.nav-link .text {
  margin: 0 15px;
}

.link_header .navbar-nav.user_account li a.nav-link .avater {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  object-fit: cover;
}

.link_header .navbar-nav.user_account li a.nav-link .text h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #ffffff;
}

.link_header .navbar-nav.user_account li a.nav-link .text p {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 0;
  color: #ffffff;
}

.link_header .navbar-nav.user_account li a.nav-link:hover {
  border: 0;
}

.link_header .navbar-nav.user_account li .dropdown-menu {
   color: black;
   font-size: 15px;
   font-weight: 600;
   display: block;
   padding: 0;
   min-width: 13rem;
   display: none;
}

.link_header .navbar-nav.user_account li .dropdown-menu.show {
  display: block;
}

.link_header .navbar-nav.user_account .nav-item .dropdown-menu .dropdown-item:hover {
   background: gainsboro;
}

.link_header .navbar-nav.user_account .nav-item .dropdown-menu li.upgrade .dropdown-item {
  background: hsl(44, 100%, 50%);
  border-radius: 5px;
  color: white !important;
}

.link_header .navbar-nav.user_account .nav-item .dropdown-menu li.upgrade .dropdown-item:hover {
  background: rgb(255, 166, 0);
}

.link_header .navbar-nav.user_account .nav-item .dropdown-menu li.upgrade{
  padding: 8px;
}

.link_header .navbar-nav.user_account li .dropdown-menu i,
.link_header .navbar-nav.user_account li .dropdown-menu svg {
    display: inline-block;
    margin-right: 10px;
}

.link_header .navbar-nav.user_account .nav-item .dropdown-menu:after {
  content: "";
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -8px;
  right: 43%;
  z-index: 10;
}

@media (max-width: 990px) {
  .link_header .navbar-nav.user_account li .dropdown-menu:after {
    display: none;
  }

  .navbar-expand-lg >.container{
    padding: 10px 1rem;
  }

 .link_header .navbar-brand .logo {
  top: 0;
 }

 .navbar{
   padding: 0;
  }

  .navbar-expand-lg .navbar-collapse{
    margin-top: 0;
    padding: 10px 0;
    border-top: 1px solid #ff3a00;
 }

  .link_header .navbar-nav li a:hover, 
  .link_header .navbar-nav li a.active {
    border-bottom: 2px solid #b3a6a2;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.link_header .navbar-nav.user_account li .dropdown-menu li a {
  padding: 10px 1.5em !important;
  color: black;
  font-weight: 400;
  display: block;
  font-size: 13px;
}

.link_header .navbar-brand {
  /* position: relative;
  height: 115px;
  width: 250px;
  display: inline-block;
  background: #01288F url(/LINKS-STAGINGsrc/assets/shap.png) no-repeat top right;
  background-size: contain;
  margin-top: 42px; */
  margin-right: 0;
}

/* @media (max-width: 990px) {
  .link_header .navbar-brand {
    height: auto;
    width: auto;
    display: inline-block;
    background: none;
    background-size: contain;
    margin-top: 0;
    padding: 0;
    margin-bottom: -7px;
  }
} */

.link_header .navbar-brand .logo {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  z-index: 5;
  color: #ffffff;
  text-transform: uppercase;
  top: 15px;
  left: 40%;
}

.link_header .navbar-brand .logo img{
  /* width: 10rem; */
}

@media (min-width: 1093px) {
  .link_header .navbar-brand .logo {
    left: 0;
  }
}

@media (max-width: 1092px) {
  .link_header .navbar-brand .logo {
    left: 0;
  }
}

@media (max-width: 1370px) {
  .link_header .navbar-brand .logo {
    /* left: 5%; */
  }
}

@media (max-width: 990px) {
  .link_header{
    height: auto;
  }
  .link_header .navbar-brand .logo {
    top: 0;
  }
}

.link_header .navbar-toggler {
  border-color: #d7d7dd;
  color: #d7d7dd;
}

/* .link_header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -43px;
  left: 0;
  width: 15%;
  background: #01288F;
} */
/*
@media screen and (min-width: 991px) {
  .link_header::after {
    width: 24%;
  }
}
*/

@media (max-width: 990px) {
  .link_header {
    padding-bottom: 0;
    border-bottom: 7px solid #FF3A00;
    background-image: none;
    background-color: #01288F;
  }

  .link_header .navbar-brand .logo {
    left: 0;
  }
}

