<!--<app-navbar></app-navbar>-->
<div class="container mt-6">
  <div class="box-area">
    <div class="row">
      <div class="col-md-12">
        <app-errors></app-errors>
        <div #message></div>

        <div class="menu_dot_area">
          <button class="border btn pr-3 pt-2 pb-2 pl-3" [matMenuTriggerFor]="menu">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <mat-menu #menu="matMenu">
            <a href="javascript:void(0)" mat-menu-item>Show/Hide Archive &nbsp;
              <mat-slide-toggle [(ngModel)]="showArchive" (change)="archiveToggle()"></mat-slide-toggle>
            </a>
          </mat-menu>
        </div>
        <div class="overflow-x-auto certificate_templates_wrap">
          <mat-tab-group class="mat-group-content" [selectedIndex]="selectedTab"
            (selectedTabChange)="handleTabChange($event)">

            <mat-tab label="Unreleased Certificates ({{unReleasedPage.totalElements}})">
              <div class="table-container table_overflow mt-5">
                <table matSort (matSortChange)="sortData($event, 'unreleased')"
                  class="table table-header hoverEffect table-bordered table-rounded">
                  <tr>
                    <th mat-sort-header="updatedAt">
                      <h6>Last Acted On</h6>
                    </th>
                    <!-- <th>
                      <h6>Status</h6>
                    </th> -->
                    <th>
                      <h6>Certificate Name</h6>
                    </th>
                  </tr>
                  <tr *ngFor="let element of unReleasedJobsDataSource">
                    <td>
                      {{element.updatedAt|dateAgo}}
                    </td>
                    <!-- <td>
                      {{element.status}}
                    </td> -->
                    <td class="fields">
                      {{element.certificateTemplateName}}
                    </td>
                    <td class="hover_details">
                      <ul class="actiion_list">
                        <li>
                          <a class="btn-orange-outline-border">Release</a>
                        </li>
                        <li>
                          <a class="btn-orange-outline-border" (click)="validateOnServer(element)">Validate</a>
                        </li>
                        <li>
                          <a (click)="downloadCertificates(element)" class="btn-orange-outline-border">Download</a>
                        </li>
                        <li>
                          <a class="btn-orange-outline-border" mwlConfirmationPopover
                            [popoverTitle]="deletePopoverTitle" [popoverMessage]="deletePopoverMessage" placement="left"
                            (confirm)="archiveJob(element)">Archive</a>
                        </li>
                        <li>
                          <a [routerLink]="'/Certificates/View/'+element.id" class="btn-orange-outline-border">View</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
              <app-custom-pagination [page]="unReleasedPage" pageName="Certificates" (nextPageEvent)="getNextUnReleasedPage()"
                (previousPageEvent)="getPreviousUnRealeasedPage()">
              </app-custom-pagination>
            </mat-tab>

            <mat-tab label="Released Certificates ({{releasedPage.totalElements}})">
                <div class="table-container">
                  <div class="table_overflow">
                    <table matSort (matSortChange)="sortData($event, 'released')"
                    class="table hoverEffect table-header table-bordered table-rounded">
                    <thead>
                      <th mat-sort-header="created_at">
                        <h6>Released</h6>
                      </th>
                      <th mat-sort-header="certificateTemplateName">
                        <h6>Name</h6>
                      </th>
                      <th mat-sort-header="no_of_recipients">
                        <h6>Recipients</h6>
                      </th>
                      <th mat-sort-header="seen">
                        <h6>Seen</h6>
                      </th>
                      <th mat-sort-header="shared">
                        <h6>Shared</h6>
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element of releasedJobsDataSource">
                        <td *ngIf="element.last_released_on">
                          {{ element.last_released_on|dateAgo}}
                        </td>
                        <td *ngIf="!element.last_released_on">
                          {{ element.created_at|dateAgo}}
                        </td>
                        <td>
                          {{element.certificateTemplateName}}
                        </td>
                        <td>
                          {{element.no_of_recipients}}
                        </td>
                        <td>
                          {{element.seen}}
                        </td>
                        <td>
                          {{element.share}}
                        </td>
                        <td class="hover_details">
                          <ul class="actiion_list">
                            <li>
                              <a (click)="regenerateCertificates(element)"
                                class="btn-orange-outline-border">Regenerate</a>
                            </li>
                            <li>
                              <a (click)="validateOnServer(element)" class="btn-orange-outline-border">Validate</a>
                            </li>
                            <li>
                              <a (click)="downloadCertificates(element)" class="btn-orange-outline-border">Download</a>
                            </li>
                            <li>
                              <a class="btn-orange-outline-border" mwlConfirmationPopover
                                [popoverTitle]="deletePopoverTitle" [popoverMessage]="deletePopoverMessage"
                                placement="left" (confirm)="archiveJob(element)">Archive</a>
                            </li>
                            <li>
                              <a [routerLink]="'/Certificates/View/'+element.id"
                                class="btn-orange-outline-border">View</a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsJobs"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsJobs;"></tr>
                  </table>
                  </div>
                  <app-custom-pagination [page]="releasedPage" pageName="Certificates" (nextPageEvent)="getNextReleasedPage()"
                    (previousPageEvent)="getPreviousReleasedPage()">
                  </app-custom-pagination>

                </div>
            </mat-tab>

            <mat-tab label="Certificate Templates ({{templatePage.totalElements}})">
              <button class="btn-orange-outline add_certificate" (click)="generateCertificateTemplate()">
                <i class="fas fa-plus"></i> Add New Certificate Template
              </button>
              <div class="table-container mt-5 certificate_templates_wrap_Box">
                <div class="row certificate_templates_wrap">
                  <div class="col-small" *ngFor="let element of templatesData;">
                    <div class="certificateSingle">
                      <img *ngIf="element.certificate_image_thumbnail; else noImage"
                        src="data:image/jpg;base64,{{element.certificate_image_thumbnail.data}}" alt="">
                      <ng-template #noImage>
                        <img src="../assets/certificate.png" alt="">
                      </ng-template>
                      <h4>{{element.name}}</h4>
                      <div class="meta row">
                        <div class="col-auto">
                          <i class="fas mr-2 fa-user-friends"></i>
                          {{element.no_of_recipient}}
                        </div>
                        <div class="col">
                          <i class="fas mr-2 fa-pencil-alt"></i>
                          {{element.created_at|dateAgo}}
                        </div>
                      </div>
                      <div class="hoverSection">
                        <div class="row mb-2">
                          <div class="col-6">
                            No. Of recipients:
                          </div>
                          <div class="col-6">
                            {{element.no_of_recipient}}
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6">
                            Last edited:
                          </div>
                          <div class="col-6">
                            {{element.last_edited_on|dateAgo}}
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6">
                            Last used:
                          </div>
                          <div class="col-6">
                            {{element.last_edited_on|dateAgo}}
                          </div>
                        </div>
                        <div class="row mb-5">
                          <div class="col-6">
                            Date Created:
                          </div>
                          <div class="col-6">
                            {{element.created_at|dateAgo}}
                          </div>
                        </div>
                        <a href="#" class="btn-orange-outline-border btn-block">Archive</a>
                        <a [routerLink]="'/Certificates/AddTemplate/'+element.id"
                          class="btn-orange-outline-border btn-block">Update</a>
                      </div>
                    </div>
                  </div>
                </div>

                <app-custom-pagination [page]="templatePage" pageName="Certificates" (nextPageEvent)="getNextTemplatePage()"
                  (previousPageEvent)="getPreviousTemplatePage()">
                </app-custom-pagination>

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="loading-indicator">
  <mat-spinner *ngIf="loader" mode="indeterminate"></mat-spinner>
</div> -->