a.view-link {
  color: #01288F;
  font-weight: 500;
  text-decoration: none;
}


a {
  cursor: pointer;
}

.add_button{
  position: absolute;
  right: 0;
  z-index: 10;
  border: 0;
  outline: none;
}

::ng-deep .mat-tab-label-container{
  margin-left: 0 !important;
}

.index_up{
   position: relative;
   z-index: 100000;
   
}

@media (max-width: 766px) {
  .add_button{
    position: relative;
    right: 0;
    z-index: 10;
    border: 0;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
  }
} 

