<!--<app-navbar></app-navbar>-->

<div class="container mt-6">
  <div class="row">
    <div class="col-md-4">
      <app-errors></app-errors>
      <mat-card>
        <div class="top-left-text">
          <div id="total-recipients">
            <img [src]="icons[0]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalNoOfRecipients}}

          </div>
          <h5> Total number of recipients</h5>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <div class="top-left-text">
          <div id="total-certificates">
            <img [src]="icons[1]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalCertificatesReleased}}

          </div>
          <h5> Total certificates released</h5>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <div class="top-left-text">
          <div id="total-emails">
            <img [src]="icons[2]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalEmailsSent}}

          </div>
          <h5> Total emails sent</h5>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <div class="top-right-text">
          {{home.changeInRecipientsAddedThisMonth}}%
        </div>
        <div class="top-left-text">
          <div id="total-recipients-this-month">
            <img [src]="icons[3]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalRecipientsAddedThisMonth}}

          </div>
          <h5> Recipients added this month </h5>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <div class="top-right-text">
          {{home.changeInCertificatesReleasedThisMonth}}%
        </div>
        <div class="top-left-text">
          <div id="total-certificates-this-month">
            <img [src]="icons[4]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalCertificatesReleasedThisMonth}}

          </div>
          <h5> Certificates released this month</h5>
        </div>
      </mat-card>
    </div>


    <div class="col-md-4">
      <mat-card>
        <div class="top-right-text">
          {{home.changeInEmailSentThisMonth}}%
        </div>
        <div class="top-left-text">
          <div id="total-emails-this-month">
            <img [src]="icons[5]" alt="icon">
          </div>
        </div>
        <div class="card-text">
          <div class="number-text">
            {{home.totalEmailsSentThisMonth}}

          </div>
          <h5> Emails sent this month</h5>
        </div>
      </mat-card>

    </div>
  </div>
</div>