mat-card {
  padding: 35px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #00000020 !important;
  -o-box-shadow: 10px 10px 15px #00000020 !important;
  -moz-box-shadow: 10px 10px 15px #00000020 !important;
  -webkit-box-shadow: 10px 10px 15px #00000020 !important;
  font-family: 'Signika', sans-serif !important;
  min-height: 233px;
  margin-bottom: 20px;
}

.card-text {
  text-align: left;
  font-weight: 300;
  color: #707070;
  margin-bottom: 75px;
}

.number-text {
  font-size:3.8rem;
  font-weight: 300;
  color: orangered;
  line-height: 4rem;
}

.icon-area {
  text-align: right;
  color: #05288545;
  font-size: 40px;
}

.icon-area.text {
  text-align: right;
  color: #07C735;
  font-size: 30px;
  font-weight: 300;
}

.icon-area.red {
  color: #FF0000;
}

.col-md-4{
   margin-bottom: 2.5rem;
}
