<div class="container mt-5">
    <div class="box-area">
      <div class="row">
        <div class="col-md-12">
          <app-errors></app-errors>
          <div class="row mb-5">
            <div class="col">
              <h3 class="d-flex align-items-center">
                <a style="position: relative;" href="javascript:void(0)" (click)="goBack()"
                  class="back p-2 px-3 d-inline-block border rounder mr-3 btn btn-default"><i
                    class="fas fa-arrow-left"></i></a>
                    Recipients with 'Class'  value filled
              </h3>
            </div>

          </div>
          <div class="table-overflow">
            <table  class="table table-header hoverEffect table-bordered table-rounded">
                <tr>
                    <th>
                        <h6>Email</h6>
                    </th>
                    <th>
                        <h6>Name</h6>
                    </th>
                    <th>
                        <h6>Tags</h6>
                    </th>
                    <th>
                        <h6>Fields</h6>
                    </th>
                </tr>
                <tr>
                    <td>
                        anuragsings@yahoo.com
                    </td>
                    <td>
                        Anurag Sings
                    </td>
                    <td class="tags"> 
                        <span>Aine user</span>
                        <span>kle user</span>
                    </td>
                    <td class="fields_area">
                        <ul>
                          <li> Class : <strong style="font-weight: 600;">8 </strong></li>
                          <li> City : <strong style="font-weight: 600;">NA </strong></li>
                          <li> Strem: <strong style="font-weight: 600;">NA </strong></li>
                          <li> CGPA : <strong style="font-weight: 600;">NA </strong></li>
                        </ul>                        
                    </td>
                    <td class="hover_details">
                        <ul class="actiion_list">
                            <li>
                                <a class="btn-orange-outline-border">Edit Field value</a>
                            </li>
                            <li>
                                <a [routerLink]="" class="btn-orange-outline-border">View Details</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        anuragsings@yahoo.com
                    </td>
                    <td>
                        Anurag Sings
                    </td>
                    <td class="tags"> 
                        <span>Aine user</span>
                        <span>kle user</span>
                    </td>
                    <td class="fields_area">
                        <ul>
                          <li> Class : <strong style="font-weight: 600;">8 </strong></li>
                          <li> City : <strong style="font-weight: 600;">NA </strong></li>
                          <li> Strem: <strong style="font-weight: 600;">NA </strong></li>
                          <li> CGPA : <strong style="font-weight: 600;">NA </strong></li>
                        </ul>                        
                    </td>
                    <td class="hover_details">
                        <ul class="actiion_list">
                            <li>
                                <a class="btn-orange-outline-border">Edit Field value</a>
                            </li>
                            <li>
                                <a [routerLink]="" class="btn-orange-outline-border">View Details</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        anuragsings@yahoo.com
                    </td>
                    <td>
                        Anurag Sings
                    </td>
                    <td class="tags"> 
                        <span>Aine user</span>
                        <span>kle user</span>
                    </td>
                    <td class="fields_area">
                        <ul>
                          <li> Class : <strong style="font-weight: 600;">8 </strong></li>
                          <li> City : <strong style="font-weight: 600;">NA </strong></li>
                          <li> Strem: <strong style="font-weight: 600;">NA </strong></li>
                          <li> CGPA : <strong style="font-weight: 600;">NA </strong></li>
                        </ul>                        
                    </td>
                    <td class="hover_details">
                        <ul class="actiion_list">
                            <li>
                                <a class="btn-orange-outline-border">Edit Field value</a>
                            </li>
                            <li>
                                <a [routerLink]="" class="btn-orange-outline-border">View Details</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        anuragsings@yahoo.com
                    </td>
                    <td>
                        Anurag Sings
                    </td>
                    <td class="tags"> 
                        <span>Aine user</span>
                        <span>kle user</span>
                    </td>
                    <td class="fields_area">
                        <ul>
                          <li> Class : <strong style="font-weight: 600;">8 </strong></li>
                          <li> City : <strong style="font-weight: 600;">NA </strong></li>
                          <li> Strem: <strong style="font-weight: 600;">NA </strong></li>
                          <li> CGPA : <strong style="font-weight: 600;">NA </strong></li>
                        </ul>                        
                    </td>
                    <td class="hover_details">
                        <ul class="actiion_list">
                            <li>
                                <a class="btn-orange-outline-border">Edit Field value</a>
                            </li>
                            <li>
                                <a [routerLink]="" class="btn-orange-outline-border">View Details</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        anuragsings@yahoo.com
                    </td>
                    <td>
                        Anurag Sings
                    </td>
                    <td class="tags"> 
                        <span>Aine user</span>
                        <span>kle user</span>
                    </td>
                    <td class="fields_area">
                        <ul>
                          <li> Class : <strong style="font-weight: 600;">8 </strong></li>
                          <li> City : <strong style="font-weight: 600;">NA </strong></li>
                          <li> Strem: <strong style="font-weight: 600;">NA </strong></li>
                          <li> CGPA : <strong style="font-weight: 600;">NA </strong></li>
                        </ul>                        
                    </td>
                    <td class="hover_details">
                        <ul class="actiion_list">
                            <li>
                                <a class="btn-orange-outline-border">Edit Field value</a>
                            </li>
                            <li>
                                <a [routerLink]="" class="btn-orange-outline-border">View Details</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  




