<!--<app-navbar></app-navbar>-->
<div class="container mt-5" *ngIf="templateData">
  <div class="box-area">
    <div class="row">
      <div class="col-md-12">
        <app-errors></app-errors>
        <div class="row mb-5">
          <div class="col">
            <h3 class="d-flex align-items-center"> <a style="position: relative;" href="javascript:void(0)" (click)="goBack()"  class="back p-2 px-3 d-inline-block border rounder mr-3 btn btn-default"><i class="fas fa-arrow-left"></i></a>  Update certificate template</h3>
          </div>
          <div class="col-auto">
            <div class="btn-group">
              <button style="min-width: auto;" [routerLink]="'/Certificates'" class="btn-orange-outline export mr-2">
                Cancel
              </button>
              <button class="btn btn-orange-outline" (click)="updateTheme()"> Update Theme
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="certificateTemplateForm" class="profile-update-form">
          <div class="row">
            <div class="col-md-3">
              <div class="custom-group">
                <label for="">Certificate Type</label>
                <mat-select formControlName="fontTheme" class="custom-form-control">
                  <mat-option *ngFor="let temp of fontThemes" value={{temp.id}}>{{temp.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-9">
              <div class="custom-group">
                <label>Certificate Name</label>
                <input class="custom-form-control" type="text" formControlName="name" placeholder="Name">
              </div>
              <!-- <button class="btn-orange-rounded" (click)="updateTheme()"> Update Theme</button> -->
            </div>

            <div class="col-md-12"  *ngFor="let field of editable_fields">

              <div class="custom-group" *ngIf="field.type != 'logo' && field.type != 'signature' && field.type != 'body'">
                <label>{{field.label}}</label>
                <input class="custom-form-control" type="text" [formControl]="certificateTemplateForm.get(field.label)"
                  placeholder={{field.type}}>
              </div>
    
              <div class="custom-group" *ngIf="field.type == 'body'">
                <label>{{field.label}}</label>
                <textarea class="custom-form-control" rows="10"
                  [formControl]="certificateTemplateForm.get(field.label)"></textarea>
              </div>
    
              <div class="upload-btn-container align-items-center" *ngIf="field.type == 'logo'">
                <input type="file" class="btn" id="file" (change)="handleLogoUpload($event)">
                <label for="file" class="upload-label">
                  <svg _ngcontent-oko-c3="" class="ng-tns-c3-0" data-name="Group 105" height="17.33" id="Group_105" viewBox="0 0 14 17.33" width="14" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-oko-c3="" class="ng-tns-c3-0" d="M2.41,11H4v5a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V11h1.59a1,1,0,0,0,.71-1.71L7.71,4.7a1,1,0,0,0-1.41,0L1.71,9.29A1,1,0,0,0,2.41,11Z" data-name="Path 60" fill="#052885" id="Path_60" transform="translate(0 -4.407)"></path><path _ngcontent-oko-c3="" class="ng-tns-c3-0" d="M0,1A1,1,0,0,0,1,2H13a1,1,0,0,0,0-2H1A1,1,0,0,0,0,1Z" data-name="Path 62" fill="#052885" id="Path_62" transform="translate(14 17.33) rotate(180)"></path></svg>

                  Upload Logo</label>
                <span class="ml-2">
                  {{field.instruction}}
                  <ng-template #elseTemplate>
                    No file chosen
                  </ng-template>
                </span>
              </div>

              <div class="upload-btn-container align-items-center" *ngIf="field.type == 'signature'">
                <input type="file" class="btn" id="file1" (change)="handleSignUpload($event)" maxlength="10">
                <label for="file1" class="upload-label">
                  <svg _ngcontent-oko-c3="" class="ng-tns-c3-0" data-name="Group 105" height="17.33" id="Group_105" viewBox="0 0 14 17.33" width="14" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-oko-c3="" class="ng-tns-c3-0" d="M2.41,11H4v5a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V11h1.59a1,1,0,0,0,.71-1.71L7.71,4.7a1,1,0,0,0-1.41,0L1.71,9.29A1,1,0,0,0,2.41,11Z" data-name="Path 60" fill="#052885" id="Path_60" transform="translate(0 -4.407)"></path><path _ngcontent-oko-c3="" class="ng-tns-c3-0" d="M0,1A1,1,0,0,0,1,2H13a1,1,0,0,0,0-2H1A1,1,0,0,0,0,1Z" data-name="Path 62" fill="#052885" id="Path_62" transform="translate(14 17.33) rotate(180)"></path></svg>

                  Upload Sign</label>
                <span class="ml-2">
                  {{field.instruction}}
                  <ng-template #elseTemplate>
                    No file chosen
                  </ng-template>
                </span>
              </div>
            </div>

            <!-- <div class="col-md-12">
              <div class="custom-group">
                <label>Certificate Title</label>
                <input class="custom-form-control" type="text" formControlName="Title" placeholder="Word limit 50">
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>About</label>
                <input class="custom-form-control" type="text" formControlName="Adout" placeholder="Word limit 50">
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>Signatory</label>
                <input class="custom-form-control" type="text" formControlName="Signatory" placeholder="Word limit 30">
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>Designation</label>
                <input class="custom-form-control" type="text" formControlName="Designation" placeholder="Word limit 30">
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>Body</label>
                <textarea name="Text1" formControlName="Text1"  rows="8" class="custom-form-control" placeholder="Word limit 300"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>Website</label>
                <input class="custom-form-control" type="text" formControlName="Website" placeholder="Word limit 30">
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-group">
                <label>Address</label>
                <input class="custom-form-control" type="text" formControlName="Address" placeholder="Word limit 30">
              </div>
            </div>

            <div class="col-md-12">
              <div class="upload-btn-container" *ngIf="fields.type == 'logo'">
                <input type="file" class="btn" id="file" (change)="handleLogoUpload($event)">
                <label for="file" class="upload-label"><img src="{{assets_loc}}assets/upload.svg" /> Upload
                  Logo</label>
                <span>
                  {{fields.instruction}}
                  <ng-template #elseTemplate>
                    No file chosen
                  </ng-template>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="upload-btn-container" *ngIf="fields.type == 'signature'">
                <input type="file" class="btn" id="file1" (change)="handleSignUpload($event)" maxlength="10">
                <label for="file1" class="upload-label"><img src="{{assets_loc}}assets/upload.svg" /> Upload
                  Sign</label>
                <span>
                  {{fields.instruction}}
                  <ng-template #elseTemplate>
                    No file chosen
                  </ng-template>
                </span>
              </div>
            </div> -->
            <!-- <div class="col-md-12 d-flex">
              <button class="btn-orange-outline mr-2" (click)="update()"> Update & Preview</button>
              <button [routerLink]="'/Certificates'" class="btn-orange-outline export">
                Cancel
              </button>
            </div> -->
          </div>

          <!-- <div *ngFor="let field of editable_fields">
            <div class="custom-group" *ngIf="field.type != 'logo' && field.type != 'signature' && field.type != 'body'">
              <label>{{field.label}} , {{field.instruction}} </label>
              <input class="custom-form-control" type="text" [formControl]="certificateTemplateForm.get(field.label)"
                placeholder={{field.type}}>
            </div>

            <div class="custom-group" *ngIf="field.type == 'body'">
              <textarea class="custom-form-control" rows="10"
                [formControl]="certificateTemplateForm.get(field.label)"></textarea>
              <label>{{field.label}} , {{field.instruction}} </label>
            </div> -->
        </form>
      </div>
      <div class="col-lg-5">
        <div class="border p-3 mb-3">
          <img src="data:image/png;base64,{{imageData}}" alt="Certificate Preview" width="100%" />
        </div>
        <div class="help-area">
          <div class="table-container">
            <div class="border p-3 rounder mb-3">
              <h4>You can use the below fields in the
                email body or subject</h4>
              <table class="table table-bordered table-rounded">
                <thead>
                  <tr>
                    <th>Fields</th>
                    <th>Usage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{'{' + 'Name' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>FirstName</td>
                    <td>{{'{' + 'FirstName' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{'{' + 'Email' + '}'}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Gender</td>
                    <td>{{'{' + 'Gender' + '}'}}</td>
                  </tr> -->
                  <tr>
                    <td>Phone</td>
                    <td>{{'{' + 'Phone' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Stream</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>CGPA</td>
                    <td></td>
                  </tr>

                  <!-- <tr>
                    <td>CertificateNumber</td>
                    <td>{{'{' + 'CertificateNumber' + '}'}}</td>
                  </tr> -->
                  <!-- <tr>
                    <td>Title</td>
                    <td>{{'{' + 'Title' + '}'}}</td>
                  </tr> -->
                  <tr *ngFor="let field of fields">
                    <td>{{field.name}}</td>
                    <td>{{'{' + field.name + '}'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="border p-3 rounder mb-3">
              <table class="table table-bordered table-rounded">
                <thead>
                  <tr>
                    <th>Fields</th>
                    <th>Values</th>
                    <th>Usage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>pronoun1U</td>
                    <td>He/She</td>
                    <td>{{'{' + 'pronoun1U' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>pronoun2U</td>
                    <td>His/Her</td>
                    <td>{{'{' + 'pronoun2U' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>pronoun3U</td>
                    <td>Him/Her</td>
                    <td>{{'{' + 'pronoun3U' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>pronoun1L</td>
                    <td>he/she</td>
                    <td>{{'{' + 'pronoun1L' + '}'}}</td>
                  </tr>
                  <!-- <tr>
                    <td>pronoun2L</td>
                    <td>his/her</td>
                    <td>{{'{' + 'pronoun2L' + '}'}}</td>
                  </tr>
                  <tr>
                    <td>pronoun3L</td>
                    <td>him/her</td>
                    <td>{{'{' + 'pronoun3L' + '}'}}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- <a href="#">Show me how ?</a> -->
        </div>
      </div>

    </div>
  </div>
</div>