
header.auth_header {
  display: flex;
  width: 100%;
  background: #01288F;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 5px solid #FF3A00;
}

header.auth_header a {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}


.user-login-area {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
}

.user-login-area .login-logo img {
  margin-bottom: 2rem;
}

.user-login-area h2 {
  color: #01288F;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.user-login-area .userLoginForm input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: .6rem 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  color: #494949;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.user-login-area .userLoginForm input:focus {
  outline: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.14);
}


.otp-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.otp-group input {
  width: 3rem;
  margin-right: 1rem;
  border: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.14);
  padding: .5rem .5rem;
  display: block;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
}

.otp-group input:focus {
  /* outline-color: #01288F; */
  outline: none;
  border: 2px solid #01288F;
}
