body {
  padding-top: 68px;
  padding-bottom: 50px;
}

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}


.table-container {
  margin-top: 10px;
}

.userData {
  margin-bottom: 1rem;
}

.userData h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.userData h6 {
  font-size: 1rem;
  font-weight: 400;
}

.profile-update-form {
  margin-top: 1rem;
}

.custom-input-container {
  width: 100%;
}

.upload-btn-container .upload-label {
  width: 11rem;
}

.details_tab_action{
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-top: -75px;
}

.custom-form-control + label {
  position: relative;
  left: 0;
  width: auto;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
}

.custom-group label{
  margin-bottom: 0.2rem;
  font-weight: 400;
  font-size: 15px;
  display: block;
}

.custom-group ul{
  padding: 0;
  margin: 0;
}

.custom-group ul li{
  display: inline-block;
  margin-right: 5px;
  border: 1px solid gray;
  padding: 5px 15px;
  border-radius: 5px;
}

.custom-group{
   margin-bottom: 1.5rem;
}

.time_added{
   font-size: 14px;
   color: gray;
   position: absolute;
   right: 0;
   bottom: 0;
   display: inline-flex;
   z-index: 10;
}


/* certificate area */

.certificateSingle{
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  padding-bottom: 15px;
  box-shadow: 1px 5px 20px 2px #0403034f !important;
  -o-box-shadow: 1px 5px 20px 2px #0403034f !important;
  -moz-box-shadow: 1px 5px 20px 2px #0403034f !important;
  -webkit-box-shadow:1px 5px 20px 2px #0403034f !important;
}

.certificateSingle img{
 width: 100%;
 height: 140px;
 object-fit: cover;
}
.certificateSingle h4{
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 0;
  border-top: 1px solid gray;
}

.certificateSingle .meta{
   font-size: 14px;
   font-weight: 300;
   padding: 0 15px;
   color: #707070;
}

.certificateSingle .hoverSection{
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 190px;
   background: white;
   z-index: 10;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 15px;
   border-left:1px solid gray ;
   border-right:1px solid gray ;
   font-size: 14px;
}

.certificateSingle:hover .hoverSection{
   display: block;
}

.certificateSingle .hoverSection .col-4{
   color: gray;
}

.certificateSingle .hoverSection .btn-orange-outline-border{
   padding: .5rem 1.5rem;
}


::ng-deep .mat-tab-label-container{
  margin-left: 65px !important;
}

.add_certificate{
 position: absolute;
 right: 56px;
 top: -60px;
 z-index: 10;
 border: 0;
 outline: none;
}

.menu_dot_area{
 position: absolute;
 right: 0;
 top: -55px;
 z-index: 10;
 border: 0;
 outline: none;
}

.menu_dot_area .btn:focus .mat-menu-item,
.menu_dot_area .btn:focus .mat-menu-item{
  border: 0;
  outline: none;
}

::ng-deep .mat-menu-item{
  color: black;
  text-decoration: none;
}

::ng-deep .mat-menu-item:hover{
  text-decoration: none;
  color: black;
}

::ng-deep mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
 background-color: white !important;
}

::ng-deep mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
 background-color: #FF3A00 !important;
 opacity: 1;
}

@media(max-width:766px){
  ::ng-deep .mat-tab-label-container{
    margin-left: 0 !important;
  }
}


