.customTagFrom{
    /* background: red; */
}

::ng-deep .mat-form-field-underline{
    display: none !important;
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0 !important;
}

::ng-deep .form-control{
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    padding: .375rem .75rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}