<div class="container mt-5">
  <div class="box-area">
    <div class="row">
      <div class="col-md-12">
        <app-errors></app-errors>
        <div class="row mb-5">
          <div class="col">
            <h3 class="d-flex align-items-center">
              <a style="position: relative;" href="javascript:void(0)" (click)="goBack()"
                class="back p-2 px-3 d-inline-block border rounder mr-3 btn btn-default"><i
                  class="fas fa-arrow-left"></i></a>
              Unsubscribed Recipients
            </h3>
          </div>
          <div class="col-auto">
            <div class="btn-group">
              <button class="btn btn-orange-outline" (click)="subscribeAll()"> Subscribed all again
              </button>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table hoverEffect table-header table-bordered table-rounded">
            <thead>
              <th>
                <h6>Recipient Name</h6>
              </th>
              <th>
                <h6>Recipient Email</h6>
              </th>
              <th>
                <h6>Subject</h6>
              </th>
              <th>
                <h6>Email Template</h6>
              </th>
              <th>
                <h6>Unsubscribed</h6>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let el of unsubscribedData">
                <td>{{el.created_by.name}} </td>
                <td>{{el.created_by.email}}</td>
                <td>{{el.adminEmailTemplate ? el.adminEmailTemplate.subject : el.emailTemplate ?  el.emailTemplate.subject : null}}</td>
                <td>{{el.adminEmailTemplate ? el.adminEmailTemplate.name : el.emailTemplate ?  el.emailTemplate.name : null}}</td>
                <td>{{el.created_at|dateAgo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
