/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;400;600;800&display=swap');

body{
  background: #F0F0F7;
  font-family: 'Signika', sans-serif;
  padding-bottom: 25px;
}

.container{
  max-width: 1410px;
}

.nav {
    margin-top: 0px;
}

  /* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/**
common  style for all components that ara similar
**/
.btn-orange-light {
  background-color: #FF3A00;
  padding: .5rem 0;
  border-radius: 10px;
  font-weight: 300;
  font-size: .9375rem;
  color: #fff;
}

.btn-orange-medium {
  background-color: #FF3A00;
  padding: .5rem 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: .9375rem;
  color: #fff;
}

.btn-orange-light:hover {
  color: #fff;
}

.btn-orange-rounded {
  border: 0;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  min-width: 9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  background-color: #FF3A00;
  border: 1px solid #FF3A00;
}

.btn-orange-rounded:hover,
.btn-orange-rounded:focus{
  background-color: #ff0000e5;
  border: 1px solid  #ff0000e5;
  outline: none;
}

.btn-orange-rounded svg {
  margin-right: 5px;
}

.btn-orange-rounded-outline {
  display: inline-flex;
  border: 0;
  padding: .5rem 1rem;
  border-radius: 1.6rem;
  min-width: 9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FF3A00;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #FF3A00;
}

.btn-orange-rounded-outline:hover {
  background-color: #FF3A00;
  color: #fff;
}

.userDetailsError {
  /* margin-top: -1rem; */
  display: block;
  font-weight: 500;
  color: #FF0000 !important;
}


.btn-orange-outline {
  border: 0 !important;
  border: 0;
  padding: .8rem 1.5rem;
  border-radius: .25rem;
  min-width: 9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FF3A00;
  font-size: 1rem;
  font-weight: 400;
  background: #ff3a0020;
}

.btn-orange-outline-border {
  padding: .8rem 1.5rem;
  border-radius: .25rem;
  min-width: 9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border:1px solid #FF3A00;
  color: #FF3A00;
  font-size: 1rem;
  font-weight: 400;
  background:white;
}

.btn-orange-outline:hover,
.btn-orange-outline-border:hover {
  background: #ff3a00;
  color: white;
  text-decoration: none;
}

.btn-orange-outline.save svg path{
  fill: #ff3a00;
}

.btn-orange-outline.save:hover svg path{
  fill: white;
}


/* 
.btn-orange-outline.btn-orange-outline svg path{
  fill: #ff3a00;
}

.btn-orange-outline.btn-orange-outline.export svg path{
  fill: rgb(5, 40, 133);
} */

.btn-orange-outline img,
.btn-orange-outline i,
.btn-orange-outline svg {
  margin-right: 0.5em;
  display: inline-block;
}

.btn-md {
  height: 50px;
  border-radius: 8px;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


.ck-editor .ck.ck-sticky-panel__content .ck.ck-toolbar {
  border: 0;
}

.ck-editor .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: none;
}

svg {
  fill: currentColor;
}

.table-rounded {
  /* border: 1px solid #ddd; */
  border-radius: 3px;
  overflow: hidden;
  outline: auto;
  outline-color: white;
  margin-top: 1rem;
}

.table-rounded thead {
  background-color: white;
}

.table-rounded td{
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-right: 0;
  border-left: 0;
  font-size: 1rem;
  font-weight: 300;
}

.table-rounded td, 
.table-rounded th {
  padding: .5rem !important;
  vertical-align: middle;
  border-left: 0;
  border-right: 0;
}

.table thead th {
  border: 0;
}

tr.mat-footer-row, 
tr.mat-row {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

/***CUSTOM  custom upload button style  ***/

.upload-btn-container {
  position: relative;
  display: flex;
}

.upload-btn-container input[type="file"] {
  display: none;
}

.upload-btn-container .upload-label,
.btn-orange-outline.export {
  background: #05288526;
  display: flex;
  min-width: 9rem;
  height: auto;
  border-radius: 5px;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 0.8rem  1.5rem;
  color: #01288F;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 0;
}

.upload-btn-container .upload-label:hover,
.btn-orange-outline.export:hover {
  background: #05288540;
}

.upload-btn-container .upload-label svg,
.btn-orange-outline.export svg{
    display: inline-block;
    margin-right: 10px;
}


/**
users component style
**/
.filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.filter-action {
  display: flex;
  justify-content: space-between;
  width: 50%;
}


/**
profile
**/

.mat-group-content .mat-ink-bar {
  /* background-color: #FF3A00 !important;
  height: 3px !important; */
  border: 0;
  display: none;
}

.mat-group-content .mat-tab-body-content {
  overflow: hidden !important;
}

/* 
.custom-form-control {
  display: block;
  width: 100%;
  padding: .8rem 1rem;
  border-radius: 6px;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.06);
  margin-left: 1rem;
  /* transition: all 1s linear; */
  /* visibility: hidden; */
 /* transition: all .1s ease;
  border: 2px solid rgba(0,0,0,0.06);
  color: #494949;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box !important;

} */


.custom-group {
  position: relative;
  margin-bottom: 1rem;
  box-sizing: border-box;
  width: 100%;
  /* display: block; */
  /* border: 2px solid #01288F; */
  
}

.custom-form-control {
  display: block;
  width: 100%;
  padding: .8rem 1rem;
  border-radius: 5px;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.06);
  margin-left: 0rem;
  transition: all .1s ease;
  border: 1px solid #707070;
  color: #494949;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}


.custom-form-control + label {
  position: absolute;
  left: 2rem;
  width: auto;
  background: #fff;
  color: #01288F;
  font-weight: 300;
  height: auto;
  top: 1rem;
  transition: top .2s linear, display .4s ease;
  z-index: -999;
}

.custom-form-control + label{
  top: -.7rem;
  display: block;
  color: #01288F;
  z-index: 10;
  
}


.custom-form-control {
  /* border: 2px solid #01288F; */
  /* border: 2px solid #01288F; */
}



/***
@  responsive media query for all screens
***/

@media screen and (max-width: 425px) {
  /**
    users-* components
  **/
  .action-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .action-btn button {
      margin: 0 !important;
  }

  .action-btn button:first-child {
      margin-bottom: 1rem !important;
  }

  .filter-group {
    margin-top: 2rem;
    flex-direction: column;
  }

  .filter-btn {
    margin-bottom: .8rem;
  }

  .filter-action {
    flex-flow: column wrap;
    width: auto;
  }

  .filter-action button:not(:last-child) {
    margin-bottom: .8rem;
  }

  /** email job details **/
  .email-body {
    flex-direction: column;
    text-align: center;
  }

  .email-body .email-header {
    width: 100% !important;
    margin-bottom: .6rem;
  }
  .email-body .email-content {
    width: 100%;
  }
  .email-subject {
    text-align: center;
    border-bottom: 1px solid #eee;
  }

  .custom-group {
    width: 90% !important;
    text-align: center;
  }

  .left-content {
    border: 0 !important;
    padding: 0 !important;
  }

  .right-content {
    padding: 0 !important;
  }
}

@media screen and (min-width: 426px)  and (max-width: 1024px){

  .filter-action {
    width: 75%;
  }

  .email-body .email-header {
    width: 20% !important;
  }
  .email-body .email-content {
    width: 80%;
  }

}


/* Send Email and Admin Profile */
.send-mail-heading {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
/* jOB details */

.email-details, .email-subject {
  font-family: Bahnschrift;
}

.email-subject h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.email-body {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email-header {
  width: 15%;
  font-size: .94rem;
  font-weight: 200;
  align-self: start;
}

.email-content {
  width: 85%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  white-space: pre-line;
  letter-spacing: 0;
}

/*  */

.profile-update-form {
  margin-top: 1rem;
} 

/**
login register page realted style
*/
.auth-form .form-group {
  margin-bottom: 2rem;
}

.auth-form .form-control {
  height: 50px;
  border-color: #707070;
  color: #707070;
  outline: none;
  box-shadow: none;
}
.auth-form .form-control.ng-touched.ng-dirty.ng-invalid {
  border-color: #FF3A00;
}

.form-step {
  position: relative;
  display: none;
}
.form-step.active {
  display: block;
}

/* Box area style */

.box-area{
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 50px 5px #00000012 !important;
  -o-box-shadow: 0px 0px 50px 5px #00000012 !important;
  -moz-box-shadow: 0px 0px 50px 5px #00000012 !important;
  -webkit-box-shadow: 0px 0px 50px 5px #00000012 !important;
}

/* Alert style here */
.alert-secondary{
  background: #28293d15;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.alert-secondary svg{
 margin-right: 10px;
 margin-top: -4px;
}
.alert-secondary a{
 color: orangered;
 display: inline-block;
 margin-left: 10px;
}
.alert-secondary .close{
  color: #052885;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
}

.alert-secondary.error {
  color: #FF0000;
}

.alert-secondary.error svg path{
  fill: #FF0000 !important;
}

/*  Tags style  */

.mat-standard-chip {
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 5px !important;
  align-items: center;
  cursor: default;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  color: #052885;
  background: white !important;
  border: 1px solid #052885;
}


/* Tab area style */
.mat-tab-header{
  display: inline-block !important;
  border: 0;
}

.mat-tab-label-container{
  background: #28293d15;
  display: inline-block !important;
  position: relative;
  z-index: 100000 !important;
}

.mat-tab-labels{
  padding: 5px;
}

.mat-tab-label{
   opacity: 1 !important;
   color: #28293D !important;
   font-weight: 400 !important;
   font-family: 'Signika', sans-serif;
   padding: 0 15px  !important;
}

.mat-tab-label.mat-tab-label-active{
    background: white;
    color: #FF3A00 !important;
    border-radius: 5px;
    font-size: 15px;
}

.mat-tab-body-wrapper{
  /* overflow: initial !important; */
  margin-top: -60px;
  padding-top: 60px;
}

.add_new_email_template{
  position: absolute;
  right: 0;
  margin-top: -75px;
  z-index: 100;
}

.mat-tab-body,
.mat-tab-body.mat-tab-body-active,
.mat-group-content .mat-tab-body-content{
   overflow: unset !important;
}

.btn.back{
  position: absolute;
  z-index: 50;
}

.pagination-area{
  border-top: 1px solid #d1d1d4;
  padding-top: 20px;
}

/*  hover effect  */

.mat-header-cell {
  text-align: left;
  flex-direction: column;
  justify-content: left;
}

.mat-cell {
  text-align: left;
  justify-content: left;
}

.table-header tr th h6{
  font-weight: 600;
  color: #505050;
}

.hoverEffect tr, 
.hoverEffect tr{
    border: 0;
    height: 46px !important;
}

.hoverEffect .hover_details{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: right !important;
    z-index: 10;
    background:rgb(0 0 0 / 2%);
    opacity: 0;
    width: 0px;
}

.hoverEffect tr:hover .hover_details{
    display: block;
    opacity: 1;
    width: auto;
}

.hoverEffect tr .hover_details .btn-orange-outline-border{
    color: #FF3A00 !important;
    display: block;
    cursor: pointer;
}

.hoverEffect tr .hover_details .btn-orange-outline-border:hover{
    color: white !important;
}

.actiion_list{
  padding: 0;
  margin: 0;
  background: #fafafa;
  display: inline-block;
}

.actiion_list li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

.actiion_list li a{
  padding: 0.1rem 1rem;
  min-width: auto;
}

.col-small{
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 15px;
  margin-bottom: 25px;
}


